name: build and test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        dc: [dmd-latest, ldc-latest]
        exclude:
          - os: macos-latest
            dc: dmd-latest
          - os: windows-latest
            dc: ldc-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Source
        uses: actions/checkout@v6

      - name: D Compiler Installation
        uses: dlang-community/setup-dlang@v2
        with:
          compiler: ${{ matrix.dc }}

      - name: Build and Test
        run: |
          dub -q test --coverage

      - name: Build Demos
        shell: bash
        run: |
          for demo in clipboard colors hello mouse styles;
          do
            cd demos/$demo
            dub build || exit 1
            cd ../..
          done

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
